<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign</title>
</head>
<body>
    <!--Navbar Section-->
    <div th:insert="navbar"></div>

    <h2 class="text-center">Assign instructor</h2>
    <p class="text-center" th:text="${instructor.name}"></p>

    <div class="container">
        <form th:action="@{/instructor/assign}" method="post">
            <input type="hidden" name="instructorId" th:value="${instructor.id}">
            <br>
            <!-- <div class="form-control"> -->
                <select name="courseId" class="form-control">
                    <option th:each="course : ${courses}" th:value="${course.id}"
                        th:text="${course.subject} + '  ' + ${course.code}"></option>
                </select>
            <!-- </div> -->
            <br>
            <button type="submit" class="btn btn-primary">Assign</button>
        </form>
    </div>
</body>
</html>