<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Instructors</title>
</head>
<body>
    <!--Navbar Section-->
    <div th:insert="navbar"></div>

    <h1 class="text-center">Assigned Instructors</h1>
    <h2 class="text-center" th:text="${course.subject}"></h2>
	<br>
	
	<div class="text-center">
		<a th:href="@{/course/assign(id=${course.id})}">
            <button class ="btn btn-primary" type="button">Assign Instructor</button>
        </a>
	</div>
	
	<br>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-primary d-flex justify-content-evenly">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                
                <tr th:each="instructor : ${instructors}">
                    <td th:text="${instructor.name}"></td>
                    <td th:text="${instructor.email}"></td>
                </tr>
            </table>
            <p th:if="${#sets.isEmpty(instructors)}" class="text-center">No enrolled instructors</p>
        </div>
    </div>
	
</body>
</html>